.list{
    text-align: center;
    background-color: bisque;
    position: relative;
    border-radius: 3px;
    max-height: 100%;
    padding: 10px;
}

img{
    width: 250px;
}

.btn{
    width: 100%;
    margin: 0 3px 0 3px;
    align-content: center;
    position: relative;
}

.btn #like{
    width: 50px;
    height: 20px;
    margin-right: 8px;
    background-color: red;
    color: white;
}

.btn #block{
    width: 60px;
    height: 20px;
    background-color: grey;
    color: white;
}

.detail{
    width: 100%;
    font-family: "American Typewriter";
    font-size: medium;
    align-items: center;
    
}

.ranking{
    width: 100%;
    display: flex;
    justify-content: center;
}

#movieName{
    font-weight: bolder;
}

.description{
    font-family: "American Typewriter";
    font-size: large;
}