.navbar {
  position: sticky;
  top: 0;
  height: 75px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: pink;
  font-family: fantasy;
  font-size: larger;
  font-weight: bolder;
  z-index: 2;
}

.selector-btn {
  height: 20px;
  width: 50px;
}
