.navbar {
  position: sticky;
  top: 0;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: pink;
  font-family: fantasy;
}

.selector-btn {
  height: 20px;
  width: 50px;
}
